// We're calling the _partial.scss file

@use 'partial';



// Global settings

body {
    box-sizing: border-box;
    margin: 0;
    font-family: partial.$font;
    padding: 0;
    background-color: #141414;
    background-image: url(../img/Motherboard.jpg);
    background-repeat: no-repeat;
    background-position: top;
   
    p {
        font-size: 18px;
        color: partial.$text-color;
        line-height: 1.5;
    }

    a {
        font-weight: 300;
        font-size: 30px;
        color: partial.$text-color;
        text-decoration: none;
    }

}

nav {
    background-color: partial.$bg-color;
    padding-left: 25px;
    height: 90px;
    align-content: center;
}

/* These are settings for the tab-function */
:focus-visible {
    outline: 4px solid rgb(255, 255, 255);
    outline-offset: 4px;
}


// stage and answer setup

.stage {
    display: none;
    margin: 0 auto;
    padding: 3em;
    line-height: 1.5;

    // & grabs the html "active". You could also write .stage.active
    &.active { 
        display: block;
    }  
}


.option1,
.option2,
.option3,
.option4 {
    display: none;
    margin: 0 auto;
    background-color: transparent;
    border: none;
    padding: 1em 2em;
    font-family: partial.$font;

    :hover {
        color: partial.$bg-color;
        transition: 0.5s;

    }

    &.active { 
        display: block;
    }  
 
}



/* Grid and media-query, mobile first. Max and min widths are set so they make sense with the layout, not according to screen size neccessarily */

.grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    min-height: 100vh;
    gap: 1em;
    grid-template-areas:
    "vector1 . . . . eye eye"
    "vector1 lock lock lock key key ."
    "vector2 text text text text text ."
    "vector2 answer1 answer1 answer1 answer1 answer1 ."
    "vector2 answer2 answer2 answer2 answer2 answer2 ."
    "vector2 answer3 answer3 answer3 answer3 answer3 ."
    "vector2 answer4 answer4 answer4 answer4 answer4 ."

    ;

}

.vector1 {
    grid-area: vector1;
    background-image: url(../img/vector1.png);
    background-position: center;
    background-repeat: no-repeat;
}

.vector2 {
    grid-area: vector2;
    background-image: url(../img/vector2.png);
    background-position: center;
    background-repeat: no-repeat;
}

.eye {
    grid-area: eye;
    background-image: url(../img/eye.png);
    transform: translateY(-50px);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
}


.lock {
    grid-area: lock;
    background-color: partial.$bg-color;
    background-image: url(../img/Group17.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    @include partial.bg-boxes();
}

.key {
    grid-area: key;
    background-color: partial.$bg-color;
    background-image: url(../img/key.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    
    @include partial.bg-boxes();
}

.text {
    grid-area: text;
    background-color: partial.$bg-color;
    color: partial.$text-color;
    height: fit-content;

    @include partial.bg-boxes();
}


.answer1 {
    grid-area: answer1;
    background-color: partial.$sec-color;
    color: partial.$text-color;
    height: fit-content;

    @include partial.bg-boxes($bg-color: partial.$sec-color);
}

.answer2 {
    grid-area: answer2;
    background-color: partial.$sec-color;
    color: partial.$text-color;
    height: fit-content;

    @include partial.bg-boxes($bg-color: partial.$sec-color);
}

.answer3 {
    grid-area: answer3;
    background-color: partial.$sec-color;
    color: partial.$text-color;
    height: fit-content;

    @include partial.bg-boxes($bg-color: partial.$sec-color);
}

.answer4 {
    grid-area: answer4;
    background-color: partial.$sec-color;
    color: partial.$text-color;
    height: fit-content;

    @include partial.bg-boxes($bg-color: partial.$sec-color);
}

.hashcat {
    grid-area: hashcat;
    background-image: url(../img/hashcat.png);
    object-fit: contain;
    background-repeat: no-repeat;

}



@media (min-width: 1050px) {

    .grid {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        min-height: 100vh;
        gap: 1em;
        grid-template-areas:
        "vector1 . . . . . eye"
        "vector1 lock lock lock key key eye"
        "vector2 text text text text text ."
        "vector2 answer1 answer1 answer1 hashcat hashcat hashcat"
        "vector2 answer2 answer2 answer2 hashcat hashcat hashcat"
        "vector2 answer3 answer3 answer3 hashcat hashcat hashcat"
        "vector2 answer4 answer4 answer4 hashcat hashcat hashcat"

        ;

    }

    .vector1 {
        grid-area: vector1;
        background-image: url(../img/vector1.png);
        background-position: center;
        background-repeat: no-repeat;
    }

    .eye {
        grid-area: eye;
        background-image: url(../img/eye.png);
        transform: translateY(-110px);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }


    .lock {
        grid-area: lock;
        background-color: partial.$bg-color;
        background-image: url(../img/Group17.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

        @include partial.bg-boxes();
    }

    .key {
        grid-area: key;
        background-color: partial.$bg-color;
        background-image: url(../img/key.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        
        @include partial.bg-boxes();
    }

    .text {
        grid-area: text;
        background-color: partial.$bg-color;
        color: partial.$text-color;
        height: fit-content;
        @include partial.bg-boxes();
    }

    .answer1 {
        grid-area: answer1;
        background-color: partial.$sec-color;
        color: partial.$text-color;
        height: fit-content;

        @include partial.bg-boxes($bg-color: partial.$sec-color);
    }

    .answer2 {
        grid-area: answer2;
        background-color: partial.$sec-color;
        color: partial.$text-color;
        height: fit-content;

        @include partial.bg-boxes($bg-color: partial.$sec-color);
    }

    .answer3 {
        grid-area: answer3;
        background-color: partial.$sec-color;
        color: partial.$text-color;
        height: fit-content;

        @include partial.bg-boxes($bg-color: partial.$sec-color);
    }

    .answer4 {
        grid-area: answer4;
        background-color: partial.$sec-color;
        color: partial.$text-color;
        height: fit-content;

        @include partial.bg-boxes($bg-color: partial.$sec-color);
    }

    .hashcat {
        grid-area: hashcat;
        background-image: url(../img/hashcat.png);
        object-fit: contain;
        background-repeat: no-repeat;

    }

}

@media (min-width: 1440px) {

    .grid {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        min-height: 100vh;
        gap: 2em;
        grid-template-areas:
        "vector1 . . . . . eye"
        "vector1 lock lock lock key key eye"
        "vector2 text text answer1 answer1 hashcat hashcat"
        "vector2 text text answer2 answer2 hashcat hashcat"
        "vector2 text text answer3 answer3 hashcat hashcat"
        "vector2 text text answer4 answer4 hashcat hashcat"
        "vector2 . . . . hashcat hashcat"
        ;

    }

    .vector1 {
        grid-area: vector1;
        background-image: url(../img/vector1.png);
        background-position: center;
        background-repeat: no-repeat;
    }

    .eye {
        grid-area: eye;
        background-image: url(../img/eye.png);
        transform: translateY(-100px);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }


    .lock {
        grid-area: lock;
        background-color: partial.$bg-color;
        background-image: url(../img/Group17.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

        @include partial.bg-boxes();
    }

    .key {
        grid-area: key;
        background-color: partial.$bg-color;
        background-image: url(../img/key.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        
        @include partial.bg-boxes();
    }

    .text {
        grid-area: text;
        background-color: partial.$bg-color;
        color: partial.$text-color;
        height: fit-content;
        @include partial.bg-boxes();
    }

    .answer1 {
        grid-area: answer1;
        background-color: partial.$sec-color;
        color: partial.$text-color;
        height: fit-content;

        @include partial.bg-boxes($bg-color: partial.$sec-color);
    }

    .answer2 {
        grid-area: answer2;
        background-color: partial.$sec-color;
        color: partial.$text-color;
        height: fit-content;

        @include partial.bg-boxes($bg-color: partial.$sec-color);
    }

    .answer3 {
        grid-area: answer3;
        background-color: partial.$sec-color;
        color: partial.$text-color;
        height: fit-content;

        @include partial.bg-boxes($bg-color: partial.$sec-color);
    }

    .answer4 {
        grid-area: answer4;
        background-color: partial.$sec-color;
        color: partial.$text-color;
        height: fit-content;

        @include partial.bg-boxes($bg-color: partial.$sec-color);
    }

    .hashcat {
        grid-area: hashcat;
        background-image: url(../img/hashcat.png);
        object-fit: contain;
        background-repeat: no-repeat;

    }

}