body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Intel One Mono", monospace;
  padding: 0;
  background-color: #141414;
  background-image: url(../img/Motherboard.jpg);
  background-repeat: no-repeat;
  background-position: top;
  cursor: crosshair;
}
body p {
  font-size: 16px;
  color: #ffffff;
  line-height: 1.5;
}
body :hover {
  cursor: crosshair;
}

nav {
  display: flex;
  position: relative;
  justify-content: space-between;
  z-index: 1000;
  background-color: rgba(24, 89, 121, 0.9294117647);
  padding-left: 25px;
  height: 70px;
}
nav a {
  font-weight: 300;
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
  align-content: center;
}

/* These are settings for the tab-function */
:focus-visible {
  outline: 4px solid rgb(255, 255, 255);
  outline-offset: 4px;
}

.stage {
  display: none;
  margin: 0 auto;
  padding: 2em;
  line-height: 1.5;
}
.stage.active {
  display: block;
}

.option1,
.option2,
.option3,
.option4 {
  display: none;
  margin: 0 auto;
  background-color: transparent;
  border: none;
  padding: 1em 1.4em;
  font-family: "Intel One Mono", monospace;
}
.option1 :hover,
.option2 :hover,
.option3 :hover,
.option4 :hover {
  color: rgba(24, 89, 121, 0.9294117647);
  transition: 0.5s;
}
.option1.active,
.option2.active,
.option3.active,
.option4.active {
  display: block;
}

#endSimulationBtn {
  font-family: "Intel One Mono", monospace;
  color: rgba(24, 89, 121, 0.9294117647);
  font-size: 16px;
  margin: 1em;
  border: none;
  border-radius: 5px;
  background-color: rgba(0, 186, 207, 0.9294117647);
}
#endSimulationBtn:hover {
  background-color: rgba(24, 89, 121, 0.9294117647);
  color: #ffffff;
  transition: 0.5s;
}
#endSimulationBtn {
  padding: 0 1.6em;
  z-index: 1001;
}

.hidden {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.overlay.hidden {
  display: none;
}

.overlay-box {
  background: rgba(255, 255, 255, 0.967);
  padding: 2rem;
  border-radius: 8px;
  max-width: 400px;
  text-align: center;
}
.overlay-box p {
  color: rgba(24, 89, 121, 0.9294117647);
}

#restartFromOverlay {
  font-family: "Intel One Mono", monospace;
  color: rgba(24, 89, 121, 0.9294117647);
  font-size: 16px;
  margin: 1em;
  border: none;
  border-radius: 5px;
  background-color: rgba(0, 186, 207, 0.9294117647);
}
#restartFromOverlay:hover {
  background-color: rgba(24, 89, 121, 0.9294117647);
  color: #ffffff;
  transition: 0.5s;
}
#restartFromOverlay {
  padding: 0.8rem 1.6rem;
}

/* ================= Grid and media-query, mobile first. Max and min widths are set so they make sense with the layout, not according to standard screen size ================= */
.grid {
  display: grid;
  position: relative;
  z-index: 2;
  transform: translateY(7%);
  grid-template-columns: repeat(7, 1fr);
  gap: 15px;
  grid-template-areas: ". lock lock lock key key ." "vector2 text text text text text ." "vector2 answer1 answer1 answer1 answer1 answer1 ." "vector2 answer2 answer2 answer2 answer2 answer2 ." "vector2 answer3 answer3 answer3 answer3 answer3 ." "vector2 answer4 answer4 answer4 answer4 answer4 .";
}

.vector2 {
  grid-area: vector2;
  background-image: url(../img/vector2.png);
  background-position: center;
  background-repeat: no-repeat;
}

.lock {
  grid-area: lock;
  background-color: rgba(24, 89, 121, 0.9294117647);
  background-image: url(../img/Group17.png);
  background-size: contain;
  height: 70px;
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff;
  border-radius: 10px;
}
.lock:hover {
  background-color: rgba(24, 89, 121, 0.9294117647);
  transition: 0.5s;
}

.key {
  grid-area: key;
  background-color: rgba(24, 89, 121, 0.9294117647);
  background-image: url(../img/key.png);
  background-size: contain;
  height: 70px;
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff;
  border-radius: 10px;
}
.key:hover {
  background-color: rgba(24, 89, 121, 0.9294117647);
  transition: 0.5s;
}

.text {
  grid-area: text;
  background-color: rgba(24, 89, 121, 0.9294117647);
  color: #ffffff;
  height: -moz-fit-content;
  height: fit-content;
  color: #ffffff;
  border-radius: 10px;
}
.text:hover {
  background-color: rgba(24, 89, 121, 0.9294117647);
  transition: 0.5s;
}

.answer1 {
  grid-area: answer1;
  background-color: rgba(0, 186, 207, 0.9294117647);
  color: #ffffff;
  height: -moz-fit-content;
  height: fit-content;
  color: #ffffff;
  border-radius: 10px;
}
.answer1:hover {
  background-color: rgba(0, 186, 207, 0.9294117647);
  transition: 0.5s;
}

.answer2 {
  grid-area: answer2;
  background-color: rgba(0, 186, 207, 0.9294117647);
  color: #ffffff;
  height: -moz-fit-content;
  height: fit-content;
  color: #ffffff;
  border-radius: 10px;
}
.answer2:hover {
  background-color: rgba(0, 186, 207, 0.9294117647);
  transition: 0.5s;
}

.answer3 {
  grid-area: answer3;
  background-color: rgba(0, 186, 207, 0.9294117647);
  color: #ffffff;
  height: -moz-fit-content;
  height: fit-content;
  color: #ffffff;
  border-radius: 10px;
}
.answer3:hover {
  background-color: rgba(0, 186, 207, 0.9294117647);
  transition: 0.5s;
}

.answer4 {
  grid-area: answer4;
  background-color: rgba(0, 186, 207, 0.9294117647);
  color: #ffffff;
  height: -moz-fit-content;
  height: fit-content;
  color: #ffffff;
  border-radius: 10px;
}
.answer4:hover {
  background-color: rgba(0, 186, 207, 0.9294117647);
  transition: 0.5s;
}

@media (min-width: 1050px) {
  .hashcat {
    position: fixed;
    top: 50%;
    left: 0;
    width: 100%;
    height: 50%;
    background-image: url(../img/hashcat.png);
    background-repeat: no-repeat;
    background-position: right 10% center;
    background-size: contain;
    z-index: 1;
  }
  nav {
    height: 90px;
  }
  nav a {
    font-size: 25px;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    transform: translateY(20%);
    grid-template-areas: ". lock lock lock key key ." "vector2 text text text text text ." "vector2 answer1 answer1 answer1 . . ." "vector2 answer2 answer2 answer2 . . ." "vector2 answer3 answer3 answer3 . . ." "vector2 answer4 answer4 answer4 . . .";
  }
}
@media (min-width: 1440px) {
  .hashcat {
    position: fixed;
    top: 35%;
    left: 10%;
    width: 100%;
    height: 60%;
    background-image: url(../img/hashcat.png);
    background-repeat: no-repeat;
    background-position: right 10% center;
    background-size: contain;
    z-index: 1;
  }
  nav {
    height: 90px;
  }
  nav a {
    font-size: 30px;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    transform: translateY(20%);
    gap: 2em;
    grid-template-areas: ". lock lock lock key key ." "vector2 text text answer1 answer1 . ." "vector2 text text answer2 answer2 . ." "vector2 text text answer3 answer3 . ." "vector2 text text answer4 answer4 . ." "vector2 . . . . . .";
  }
}/*# sourceMappingURL=style.css.map */