body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Intel One Mono", monospace;
  padding: 0;
  background-color: #141414;
  background-image: url(../img/Motherboard.jpg);
  background-repeat: no-repeat;
  background-position: top;
}
body p {
  font-size: 16px;
  color: #ffffff;
  line-height: 1.5;
}
body h1, body h2 {
  font-weight: 300;
  color: #ffffff;
}

nav {
  background-color: rgba(24, 89, 121, 0.9294117647);
  padding-left: 20px;
  height: 90px;
  align-content: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  min-height: 100vh;
  gap: 1em;
  grid-template-areas: "vector1 . . . . eye eye" "vector1 lock lock lock key key ." "vector2 text text text text text ." "vector2 answer1 answer1 answer1 answer1 answer1 ." "vector2 answer2 answer2 answer2 answer2 answer2 ." "vector2 answer3 answer3 answer3 answer3 answer3 ." "vector2 answer4 answer4 answer4 answer4 answer4 .";
}

.vector1 {
  grid-area: vector1;
  background-image: url(../img/vector1.png);
  background-position: center;
  background-repeat: no-repeat;
}

.vector2 {
  grid-area: vector2;
  background-image: url(../img/vector2.png);
  background-position: center;
  background-repeat: no-repeat;
}

.eye {
  grid-area: eye;
  background-image: url(../img/eye.png);
  transform: translateY(-50px);
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}

.lock {
  grid-area: lock;
  background-color: rgba(24, 89, 121, 0.9294117647);
  background-image: url(../img/Group17.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.key {
  grid-area: key;
  background-color: rgba(24, 89, 121, 0.9294117647);
  background-image: url(../img/key.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.text {
  grid-area: text;
  background-color: rgba(24, 89, 121, 0.9294117647);
  color: #ffffff;
  border-radius: 10px;
}

.answer1 {
  grid-area: answer1;
  background-color: rgba(0, 186, 207, 0.9294117647);
  color: #ffffff;
  border-radius: 10px;
}

.answer2 {
  grid-area: answer2;
  background-color: rgba(0, 186, 207, 0.9294117647);
  color: #ffffff;
  border-radius: 10px;
}

.answer3 {
  grid-area: answer3;
  background-color: rgba(0, 186, 207, 0.9294117647);
  color: #ffffff;
  border-radius: 10px;
}

.answer4 {
  grid-area: answer4;
  background-color: rgba(0, 186, 207, 0.9294117647);
  color: #ffffff;
  border-radius: 10px;
}

.hashcat {
  grid-area: hashcat;
  background-image: url(../img/hashcat.png);
  -o-object-fit: contain;
     object-fit: contain;
  background-repeat: no-repeat;
}

@media (min-width: 1050px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    min-height: 100vh;
    gap: 1em;
    grid-template-areas: "vector1 . . . . . eye" "vector1 lock lock lock key key eye" "vector2 text text text text text ." "vector2 answer1 answer1 answer1 hashcat hashcat hashcat" "vector2 answer2 answer2 answer2 hashcat hashcat hashcat" "vector2 answer3 answer3 answer3 hashcat hashcat hashcat" "vector2 answer4 answer4 answer4 hashcat hashcat hashcat";
  }
  .vector1 {
    grid-area: vector1;
    background-image: url(../img/vector1.png);
    background-position: center;
    background-repeat: no-repeat;
  }
  .eye {
    grid-area: eye;
    background-image: url(../img/eye.png);
    transform: translateY(-110px);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  .lock {
    grid-area: lock;
    background-color: rgba(24, 89, 121, 0.9294117647);
    background-image: url(../img/Group17.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
  }
  .key {
    grid-area: key;
    background-color: rgba(24, 89, 121, 0.9294117647);
    background-image: url(../img/key.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
  }
  .text {
    grid-area: text;
    background-color: rgba(24, 89, 121, 0.9294117647);
    color: #ffffff;
    border-radius: 10px;
  }
  .answer1 {
    grid-area: answer1;
    background-color: rgba(0, 186, 207, 0.9294117647);
    color: #ffffff;
    border-radius: 10px;
  }
  .answer2 {
    grid-area: answer2;
    background-color: rgba(0, 186, 207, 0.9294117647);
    color: #ffffff;
    border-radius: 10px;
  }
  .answer3 {
    grid-area: answer3;
    background-color: rgba(0, 186, 207, 0.9294117647);
    color: #ffffff;
    border-radius: 10px;
  }
  .answer4 {
    grid-area: answer4;
    background-color: rgba(0, 186, 207, 0.9294117647);
    color: #ffffff;
    border-radius: 10px;
  }
  .hashcat {
    grid-area: hashcat;
    background-image: url(../img/hashcat.png);
    -o-object-fit: contain;
       object-fit: contain;
    background-repeat: no-repeat;
  }
}
@media (min-width: 1440px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    min-height: 100vh;
    gap: 2em;
    grid-template-areas: "vector1 . . . . . eye" "vector1 lock lock lock key key eye" "vector2 text text answer1 answer1 hashcat hashcat" "vector2 text text answer2 answer2 hashcat hashcat" "vector2 text text answer3 answer3 hashcat hashcat" "vector2 text text answer4 answer4 hashcat hashcat" "vector2 . . . . hashcat hashcat";
  }
  .vector1 {
    grid-area: vector1;
    background-image: url(../img/vector1.png);
    background-position: center;
    background-repeat: no-repeat;
  }
  .eye {
    grid-area: eye;
    background-image: url(../img/eye.png);
    transform: translateY(-100px);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  .lock {
    grid-area: lock;
    background-color: rgba(24, 89, 121, 0.9294117647);
    background-image: url(../img/Group17.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
  }
  .key {
    grid-area: key;
    background-color: rgba(24, 89, 121, 0.9294117647);
    background-image: url(../img/key.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
  }
  .text {
    grid-area: text;
    background-color: rgba(24, 89, 121, 0.9294117647);
    color: #ffffff;
    border-radius: 10px;
  }
  .answer1 {
    grid-area: answer1;
    background-color: rgba(0, 186, 207, 0.9294117647);
    color: #ffffff;
    border-radius: 10px;
  }
  .answer2 {
    grid-area: answer2;
    background-color: rgba(0, 186, 207, 0.9294117647);
    color: #ffffff;
    border-radius: 10px;
  }
  .answer3 {
    grid-area: answer3;
    background-color: rgba(0, 186, 207, 0.9294117647);
    color: #ffffff;
    border-radius: 10px;
  }
  .answer4 {
    grid-area: answer4;
    background-color: rgba(0, 186, 207, 0.9294117647);
    color: #ffffff;
    border-radius: 10px;
  }
  .hashcat {
    grid-area: hashcat;
    background-image: url(../img/hashcat.png);
    -o-object-fit: contain;
       object-fit: contain;
    background-repeat: no-repeat;
  }
}/*# sourceMappingURL=style.css.map */