// We're calling the _partial.scss file

@use 'partial';



// Global settings

body {
    box-sizing: border-box;
    margin: 0;
    font-family: partial.$font;
    padding: 0;
    background-color: #141414;
    background-image: url(../img/Motherboard.jpg);
    background-repeat: no-repeat;
    background-position: top;
    cursor: crosshair;

    h1 {
        font-size: 20px;
        color: partial.$bg-color;
        padding-bottom: 1.5rem;
        border-bottom: 1px solid partial.$sec-color;
    }
   
    p {
        font-size: 16px;
        color: partial.$text-color;
        line-height: 1.5;
    }

    :hover {
        cursor: crosshair;
    }

}

nav {
    display: flex;
    position: relative;
    justify-content: space-between;
    z-index: 1000;
    background-color: partial.$bg-color;
    padding-left: 25px;
    height: 70px;
    

    a {
        font-weight: 300;
        font-size: 20px;
        color: partial.$text-color;
        text-decoration: none;
        align-content: center;

        &:hover {
            color: partial.$sec-color;
            transition: 0.5s;
        }
    }
}

/* These are settings for the tab-function */
:focus-visible {
    outline: 4px solid rgb(255, 255, 255);
    outline-offset: 4px;
}




// stage and answer setup

.stage {
    display: none;
    margin: 0 auto;
    padding: 2em;
    line-height: 1.5;

    // & grabs the html "active". You could also write .stage.active
    &.active { 
        display: block;
    }  
}

// Loops inside SCSS!
@for $i from 1 through 4 {
  .option#{$i} {
    display: none;
    ...
    
    &:hover {
      color: partial.$bg-color;
    }

    &.active {
      display: block;
    }
  }
}



.hashcat {
  display: none;
}

// "End simulation" info box

#endSimulationBtn {
    @include partial.simulation-btns ();
    padding: 0 1.6em;
    z-index: 1001;

}

.hidden {
  display: none;
}

// Overlay (bottom of html)
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1002;

}

.overlay.hidden {
  display: none;
}

.overlay-box {
  background: rgba(255, 255, 255, 0.967);
  padding: 2rem;
  border-radius: 8px;
  max-width: 400px;
  text-align: center;

  p {
    color: partial.$bg-color;
    text-align: left;
  }

}

#restartFromOverlay {
@include partial.simulation-btns ();
padding: .8rem 1.6rem;
}



/* ================= Grid and media-query, mobile first. Max and min widths are set so they make sense with the layout, not according to standard screen size ================= */


.grid {
    display: grid;
    position: relative;
    z-index: 2;
    transform: translateY(7%);
    grid-template-columns: repeat(7, 1fr);
    gap: 15px;
    grid-template-areas:
    ". lock lock lock key key ."
    "vector2 text text text text text ."
    "vector2 answer1 answer1 answer1 answer1 answer1 ."
    "vector2 answer2 answer2 answer2 answer2 answer2 ."
    "vector2 answer3 answer3 answer3 answer3 answer3 ."
    "vector2 answer4 answer4 answer4 answer4 answer4 ."

    ;

}


.vector2 {
    grid-area: vector2;
    background-image: url(../img/vector2.png);
    background-position: center;
    background-repeat: no-repeat;
}


.lock {
    grid-area: lock;
    background-color: partial.$bg-color;
    background-image: url(../img/Group17.png);
    background-size: contain;
    height: 70px;
    background-position: center;
    background-repeat: no-repeat;

    @include partial.bg-boxes();
}

.key {
    grid-area: key;
    background-color: partial.$bg-color;
    background-image: url(../img/key.png);
    background-size: contain;
    height: 70px;
    background-position: center;
    background-repeat: no-repeat;
    
    @include partial.bg-boxes();
}

.text {
    grid-area: text;
    background-color: partial.$bg-color;
    color: partial.$text-color;
    height: fit-content;
    @include partial.bg-boxes();
}


// Using a second loop inside scss!
@for $i from 1 through 4 {
  .answer#{$i} {
    grid-area: answer#{$i};
    background-color: partial.$sec-color;
    color: partial.$text-color;
    height: fit-content;

    @include partial.bg-boxes($bg-color: partial.$sec-color);
  }
}



// ==================== MIDDLE SIZE ==================================

@media (min-width: 1050px) {


    .hashcat {
        display: block;
        position: fixed;
        top: 50%;
        left: 0;
        width: 100%;
        height: 50%;
        background-repeat: no-repeat;
        background-position: right 10% center;
        background-size: contain;
        z-index: 1;

    
    }

    // Normal eyes
    .hashcat.state-1 {
    background-image: url(../img/hashcat.png);
    }

    // Glowing eyes
    .hashcat.state-2 {
    background-image: url(../img/eyeGlow.png);
    }


    nav {

        height: 90px;

        a {
            font-size: 25px;
        }
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        transform: translateY(20%);
        grid-template-areas:
        ". lock lock lock key key ."
        "vector2 text text text text text ."
        "vector2 answer1 answer1 answer1 . . ."
        "vector2 answer2 answer2 answer2 . . ."
        "vector2 answer3 answer3 answer3 . . ."
        "vector2 answer4 answer4 answer4 . . ."

        ;

    }


}


// ================= LARGE SIZE ===================


@media (min-width: 1440px) {

    .hashcat {
        display: block;
        position: fixed;
        top: 35%;
        left: 10%;
        width: 100%;
        height: 60%;
        background-repeat: no-repeat;
        background-position: right 10% center;
        background-size: contain;
        z-index: 1;

    }

    // Normal eyes
    .hashcat.state-1 {
    background-image: url(../img/hashcat.png);
    }

    // Glowing eyes
    .hashcat.state-2 {
    background-image: url(../img/eyeGlow.png);
    }

    nav {

        height: 90px;

      a {
        font-size: 30px;
      }
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        transform: translateY(20%);
        gap: 2em;
        grid-template-areas:
        ". lock lock lock key key ."
        "vector2 text text answer1 answer1 . ."
        "vector2 text text answer2 answer2 . ."
        "vector2 text text answer3 answer3 . ."
        "vector2 text text answer4 answer4 . ."
        "vector2 . . . . . ."
        ;

        p {
            font-size: 18px;
        }

    }


}


